include CHANGELOG.md
include CITATION.cff
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include DISCLAIMER.md
include GOVERNANCE.md
include LICENSE
include README.md
include SECURITY.md
include SUPPORT.md

recursive-include docs *.md *.json
recursive-include examples *.md *.py *.json
recursive-include fixtures *.csv *.json *.hl7 *.xml
recursive-include scripts *.py
recursive-include src/biomarker_normalization_toolkit/data *.csv *.json
